<html>
  <head>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" type='text/css' href="/css/list.css">
    <script src='../src/search.js' ></script>
    <script src='../src/venue.js' ></script>
  </head>

  <body>
      <div class="venues" id="venues" >
  </body>
</html>
